<div class="guest-landing row container  mx-auto justify-content-center">
  <div class="col-sm-5">
    <div class="container-guest">
      <h1 class="text-white">Welcome to Smart Idea</h1>
      <p class="guest-text text-white">Connect with smart buddies. Chat with new friends. Share your ideas succintly and eloquently. Just like a smart idea but with crisp & concise words</p>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card login-card border-0">

    </div>

    <div class="card signup-card border-0 mt-4">

    </div>
  </div>
  <div class="col-12 text-center text-white guest-footer mx-0">
    <p>All Rights Reserved &copy; 2020 <a href="https://uandiprogramming.blogspot.com" target="_blank" class="text-white text-decoration-none">uandiprogramming</a></p>
  </div>
</div>

