<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <p>Stats</p>
      </div>
    </div>
    
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p>feed</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <p>about</p>
      </div>
    </div>
  </div>
</div>

<%# Trends %>
<div class="row mt-2">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <p>Stats</p>
      </div>
    </div>
</div>