<div class="jumbotron">
  <h1 class="display-3">Jumbo heading</h1>
  <p class="lead">Welcome <%= @username %></p>
</div>
<%# Second row %>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <p>Profile</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <%= render 'components/post_form'%>
    <% @posts.each do |post| %>
        <div class="card mb-3">
          <div class="card-body">
            <p><%= post.content %></p>
          </div>
        </div>
    <% end %>
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-3">
      <div class="card-body">
        <p>who to follow</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <p>trends</p>
      </div>
    </div>
  </div>
</div>
