<div class="jumbotron">
  <h1 class="display-3">Jumbo heading</h1>
  <p class="lead">Jumbo helper text</p>
</div>
<%# Second row %>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <p>Profile</p>
      </div>
    </div>
    
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p>tweets</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <p>who to follow</p>
      </div>
    </div>
  </div>
</div>

<%# Trends %>
<div class="row mt-2">
  <div class="col-sm-3 offset-sm-9">
    <div class="card">
      <div class="card-body">
        <p>trends</p>
      </div>
    </div>
</div>